* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: white;
    text-align:center;
}

header {
    min-height: 15vh;
}

body {
    background-size:cover;
    background-image: url(./images/pizarra.jpg);
    background-position: center;
    background-size: 100vw;
    background-repeat: no-repeat;
}

section {
    color: white;
    padding: 1.5rem;
    margin: 1.5rem;
    display: inline-block;
    width: 30%;
    text-align: center;
}

section img {
    object-fit: contain;
    width: 100%;
    height: 15rem;
}